footer{padding: 50px 140px;display: inherit;}
.ms-wrapper-foot-info{}
#ms-footer-info-content{color:#484848;}
.ms-wrapper-foot-info img{margin: 0 auto;display: inherit;margin-bottom: 20px;}
.ms-menu-foot-container{padding: 0 50px;}
.ms-menu-foot-container ul li a{color:#484848;}
.ms-title-footer-menu{text-transform: uppercase;color: #a9a9a9;}
#ms-footer-socials{text-align: center;}
#ms-footer-socials ul{margin:0 auto;display: table;}
.ms-wrapper-social-icons{float: left;width: 40px;height: 40px;border: 1px solid #00000054;border-radius: 50px;margin: 0 10px;}
.ms-wrapper-social-icons svg{font-size: 17px;margin-top:10px;color:#a9a9a9;}

/* Home */
.ms-header-home{padding: 150px 180px;}
.ms-header-title{text-align: center;color: white!important;}
.ms-header-p{text-align: center;margin-top: 25px;color: white;font-size: 17px;letter-spacing: 0.05em;}
.ms-transparent-btn{border: 1px solid white;padding: 10px 30px;border-radius: 50px;}
#ms-header-home-btn{margin: 30px auto;display: table;padding: 8px 80px;color: white;text-transform: uppercase;}
.ms-subtitle{text-transform: uppercase;font-weight: bold;}
.ms-padding-home{padding: 20px 30px;}
.ms-wrapper-second-section{padding: 20px 30px 0 30px;}
#ms-title-second-section{text-align: center;}
#ms-p-second-section{text-align: center;margin-top:20px;}
.ms-icons-second-section-home{width: 67px;}


/* Testimonials */
.ms-image-customer-testi{width: 200px;}

/* */
.ms-wrapper-downloads{width: 100%;float: left;}
.ms-wrapper-resourced{width: 25%; float: left;margin:20px;}
.ms-single-resource-download{}
.ms-title-downloads

