footer{padding: 50px 140px;display: inherit;}
.ms-wrapper-foot-info{}
.ms-wrapper-foot-info img{margin: 0 auto;display: inherit;margin-bottom: 20px;}
.ms-menu-foot-container{padding: 0 50px;}
.ms-menu-foot-container ul li a{color:#484848;}
.ms-title-footer-menu{text-transform: uppercase;color: #a9a9a9;}
#ms-footer-socials{}
